<ion-content>

  <ion-toolbar>
    <ion-title color="primary" size="small">Récapitulatif du signalement</ion-title>
  </ion-toolbar>

  <!-- "ion-item" c est pour proposer du contenue en lignen -->
  <ion-card>

    <p> - Localisation</p>
    <p> - Media</p>
    <p> - type d'incident</p>
    <p> - Détails précisées par l'utilisateur</p>

    <ion-button shape="round" expand="block" [routerLink]="['/tabs/tab1']">Valider</ion-button>
    <ion-button fill="outline" shape="round" expand="block" [routerLink]="['/tabs/tab2']">Retour</ion-button>

  </ion-card>

</ion-content>