<ion-content>

  <ion-toolbar>
    <ion-title color="primary" size="small">Mes signalements</ion-title>
  </ion-toolbar>

  <ion-card>
    <ion-item [routerLink]="['/signallement']">
      <ion-grid>
        <ion-row>
          <ion-col size="auto">
            <ion-icon name="square" id="couleur"></ion-icon>
          </ion-col>
          <ion-col>
            Type de signalement
          </ion-col>
          <ion-col size="auto">
            date
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>


</ion-content>