
#titre{
    display: block;
    text-align: center;
    padding-top: auto;
    padding-bottom: auto;
    font-size: 205px;
}

.setting{
    padding-right: 10px;
    font-size: 20px;
}

#couleur{
    color: rgb(255, 26, 205);
}

.boutton{
    padding: 0px;
}
