ion-title{
    display: block;
    text-align: center;
}

ion-card, ion-list, ion-button{
    --ion-background-color: #ffffff;
}

form{
    padding: 10px;
}

/* Pour avoir un contenue a peu prés centrer */
.padding {
    padding: 5px
}

