<ion-content>

  <ion-toolbar>
    <ion-title color="primary" size="small">Signallement</ion-title>
  </ion-toolbar>

  <ion-card>

    <ion-item lines="none">
      <ion-grid>
        <ion-row>
          <ion-col size="auto">
            <ion-icon name="square" id="couleur"></ion-icon>
          </ion-col>
          <ion-col>
            Type de signalement
          </ion-col>
          <ion-col size="auto">
            date
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <img height="250px" src="../assets/carte-guyane.jpg">
        </ion-row>
        <br>
        <ion-row>
          <ion-label color="tertialy">Localisation</ion-label>
        </ion-row>
      </ion-grid>
    </ion-item>

    <div class="padding">
      <p> - Media</p>
      <p> - Détails précisés par l'utilisateur</p>
      <br>
      <p>Commentaires de l'admin : <br></p>
    </div>



    <br>
    <ion-button shape="round" expand="block" [routerLink]="['/tabs/tab1']">Retour</ion-button>
  </ion-card>

</ion-content>